#------------------------------------------------------------------------------
# Version Control Systems
#------------------------------------------------------------------------------
.p4ignore
.gitattributes
.gitignore
.git

#------------------------------------------------------------------------------
# Operating Systems
#------------------------------------------------------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

#------------------------------------------------------------------------------
# Development Files
#------------------------------------------------------------------------------
# Visual Studio
.vs/
*.sln
*.opensdf
*.sdf
*.suo
*.user
*.VC.opendb
*.VC.db
*.vsconfig

# Mono
*.dll.mdb

#------------------------------------------------------------------------------
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

#------------------------------------------------------------------------------
# Unreal Engine
#------------------------------------------------------------------------------
# Project files
*.xcodeproj
*.xcworkspace
*.target
*.modules
*.version
.ue4dependencies
.tgitconfig

# Cache Directories
DerivedDataCache/*
*DerivedDataCache/*
*FileOpenOrder/*
*ShaderCompileWorker/DDC/*

# Generated Directories
Intermediate/*
*Intermediate/*
Saved/*
*Saved/*

# Content Directories
FeaturePacks/*
Samples/*
Templates/*
*Developers/*

# Binary Files
Binaries/*
Plugins/**/Binaries/*

# Builds
Build/*
Build/**/*
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

#------------------------------------------------------------------------------
# Platform Specific
#------------------------------------------------------------------------------
# Mobile & Web
*Android/*
*IOS/*
*HTML5/*

# Desktop
*Linux/*
*Mac/*

# Other
*Lumin/*

#------------------------------------------------------------------------------
# Precompiled Assets
#------------------------------------------------------------------------------
SourceArt/**/*.png
SourceArt/**/*.tga

#------------------------------------------------------------------------------
# Miscellaneous
#------------------------------------------------------------------------------
*.dmp
*.tmp
.ignore